*{
 
 margin: 0;
}
body {
    background-color: #f5f5f5;
    color: #0c0b5c;
    box-sizing: border-box;
    
}
.header{
    padding: 0% 0% 0% 5%;
   
}
.titulo{
    padding: 0% 0% 0% 5%;
    color: #0a0953;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Principal{
    padding: 0% 0% 0% 15%;
    display: flex;
    gap: 100px;
}

.principal-contenido{
    width: 50%; 
    font-size: 10px;
    color: #696969;
    font-weight: 400;
   
}

.cajauno{
    width: 400px;
    height: 600px;
    text-align: left;
    padding: 10px; 
    border: none;
    outline: none;
    resize: none; 
    text-align: left;
    font-size: 32px;
    color: #0A3871;
}

.cajauno::placeholder{
    color: #0A3871;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.icono{
    background-color: #495057;
    width: 16px;
    height: 16px;
    font-size: 12px;
    border-radius: 50%;
    color: #f5f5f5;
}

.encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    background-color: #0A3871;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f5f5f5;
   
}

.desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background-color: #f5f5f5;
    border-color: #0A3871;

}

.principal-texto{
    color: #495057;
    font-size: 12px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.prestacion-encritador{
    background-color: #FFFFFF;
    width: 400px;
    height: 944;
    left: 1000px;
    border-radius: 32px;
    color: #495057;
    font-size: 16px;

}

.imagen-encritador{

    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
}
.prestacion-encritador-texto{
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #343A40;
}

.texto-encritado{
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 32px;
    display: flex;
    align-items: center;
    height: 100vh;
   

}

.parrafo{

    color: #495057;
    font-size: 24px;
    padding: 25px;  
}
.copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background-color: #f5f5f5;
    border-color: #0A3871; 
}

.texto-encritado{
    display: none;
}


@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
     .Principal{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion__contenido{
        width: auto;
    }
    .imagen-encritador{
        display: none;
    }
    .prestacion-encritador-texto{
        width: auto;
        flex-direction: column-reverse;
        padding: 5%;
    }
    }

    @media (min-width: 601px) {
        .prestacion-encritador {
            display: block; 
        }
    }